/* Stil za sve goste (uključujući admina i DJ-a) */
.guest {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
    color: inherit;
}

/* Stil za ostale goste */
.guest::before {
    content: "•"; 
    color: white;   
    margin-right: 10px;
    font-size: 18px;
}

/* Input za boje (manje stilizovan) */
.colorPicker {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Stil za poruke konobarice */
.konobarica {
    color: #ff6347; /* Boja za Konobaricu */
    font-weight: bold;
    font-style: italic;
}

/* Stil za sistemske poruke */
.system-message {
    font-style: italic;
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 400px;
    height: auto;
    overflow: hidden;
    background-color: black; /* Potpuno crna pozadina */
    border: 2px solid #fff; /* Bela neon ivica */
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8); /* Neon svetlo oko */
    border-radius: 10px;
}

.modal-content {
    background-color: black;
    color: #fff; /* Bela boja teksta */
    padding: 20px;
    border: 1px solid #fff; /* Bela neon ivica */
    border-radius: 10px;
}

.close {
    color: #fff; /* Bela boja za dugme za zatvaranje */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff00ff; /* Neon ružičasta na hover */
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff; /* Neon efekat na hover */
}




  /* Osnovni stil za desktop */
body {
    font-size: 16px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

    /* Stil za ekrane sa širinom manjom od 768px (tablet i mobilni uređaji) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: #e0e0e0;
    }

    h1 {
        font-size: 1.5em;
    }

    .container {
        width: 95%;
    }
}

/* Stil za ekrane sa širinom manjom od 480px (mobilni uređaji) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        background-color: #ccc;
    }

    h1 {
        font-size: 1.2em;
    }

    .container {
        width: 100%;
    }
}

/* MIXER KODOVI */

 #mixer {
            background-color: black;
            color: white;
            width: 250px;
            height: auto;
            padding: 10px;
            border: 5px solid white; 
            position: absolute;
            cursor: move;
            box-shadow: 0 0 10px white; 
            border-radius: 50px; 
            bottom: 5px;
            resize: both; /* Omogućava promenu veličine */
            overflow: hidden; /* Uklonjeno za ispravnost */
        }

        button {
            background-color: black;
            color: white;
            border: 5px solid white; 
            padding: 5px;
            cursor: pointer;
            margin: 5px;
            text-transform: uppercase;
            box-shadow: 0 0 10px white; 
            width: 40px; 
            top:10px;
        }

        button:hover {
            background-color: white;
            color: black;
        }

        #songList {
            list-style: none;
            padding: 0;
            max-height: calc(100% - 220px); /* Ograničenje visine liste (100px natpis + 100px dugme) */
            overflow-y: auto; /* Pomoćno za skrolovanje liste */
            border: 1px solid white;
            border-radius: 5px;  
            margin-top: 100px; 
            margin-bottom: 10px; /* Razmak između liste i dugmadi */
        }

        #songList li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid white;
            cursor: grab;
        }

        .selected {
            background-color: #333;
        }

        .title {
            text-align: center;
            color: white;
            font-family: Arial, sans-serif;
            margin: 0; /* Uklanjamo margin na vrhu */
            margin-bottom: 5px; /* Razmak između natpisa i dugmeta */
            font-weight: bold; /* Podebljano */
            font-style: italic; /* Italik */
            position: relative; /* Da bi se postavio sa top:5px */
            top: 5px; /* Pomera natpis 5px od vrha */
        }

        #uploadButton {
            margin-bottom: 10px; /* Razmak između dugmeta za upload i liste */
        }

        #mixer-buttons {
            display: flex;
            justify-content: space-around; 
            position: absolute;
            bottom: 5px;
            left: 5px;
            right: 5px;
        }
