/* Stil za sve goste (uključujući admina i DJ-a) */
.guest {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
    color: inherit;
}

/* Stil za ostale goste */
.guest::before {
    content: "•"; 
    color: white;   
    margin-right: 10px;
    font-size: 18px;
}

/* Input za boje (manje stilizovan) */
.colorPicker {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Stil za poruke konobarice */
.konobarica {
    color: #ff6347; /* Boja za Konobaricu */
    font-weight: bold;
    font-style: italic;
}

/* Stil za sistemske poruke */
.system-message {
    font-style: italic;
    color: #888;
}

/* Stil za modal */
#memoryModal {
    display: none; /* Modal je skriven dok se ne klikne na dugme */
    position: fixed; /* Modal će biti fiksiran na ekranu */
    top: 50px; /* Početna pozicija je odmah iznad dugmeta */
    left: 50%; /* Početna pozicija u sredini horizontalno */
    transform: translateX(-50%); /* Centriraj horizontalno */
    width: 400px;
    height: 400px;
    background-color: black;
    color: #ffffff;
    padding: 20px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 10px #00ffff;
    border-radius: 8px;
    z-index: 1000;
}

/* Stil za X dugme za zatvaranje modala */
#memoryModal .close {
    color: #00ffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

/* Stil za dugme koje otvara modal */
#openModal {
    background-color: #00ffff;
    color: black;
    border: 2px solid #00ffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Hover efekat za dugme koje otvara modal */
#openModal:hover {
    background-color: black;
    color: #00ffff;
    border-color: #00ffff;
}


  /* Osnovni stil za desktop */
body {
    font-size: 16px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

    /* Stil za ekrane sa širinom manjom od 768px (tablet i mobilni uređaji) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: #e0e0e0;
    }

    h1 {
        font-size: 1.5em;
    }

    .container {
        width: 95%;
    }
}

/* Stil za ekrane sa širinom manjom od 480px (mobilni uređaji) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        background-color: #ccc;
    }

    h1 {
        font-size: 1.2em;
    }

    .container {
        width: 100%;
    }
}
