/* Stil za sve goste (uključujući admina i DJ-a) */
.guest {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
    padding-left: 20px;
    font-weight: bold;
    font-style: italic;
    color: inherit;
}

/* Stil za ostale goste */
.guest::before {
    content: "•"; 
    color: white;   
    margin-right: 10px;
    font-size: 18px;
}

/* Input za boje (manje stilizovan) */
.colorPicker {
    margin-left: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Stil za poruke konobarice */
.konobarica {
    color: #ff6347; /* Boja za Konobaricu */
    font-weight: bold;
    font-style: italic;
}

/* Stil za sistemske poruke */
.system-message {
    font-style: italic;
    color: #888;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 400px;
    height: auto;
    overflow: hidden;
    background-color: black; /* Potpuno crna pozadina */
    border: 2px solid #fff; /* Bela neon ivica */
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8); /* Neon svetlo oko */
    border-radius: 10px;
}

.modal-content {
    background-color: black;
    color: #fff; /* Bela boja teksta */
    padding: 20px;
    border: 1px solid #fff; /* Bela neon ivica */
    border-radius: 10px;
}

.close {
    color: #fff; /* Bela boja za dugme za zatvaranje */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ff00ff; /* Neon ružičasta na hover */
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff; /* Neon efekat na hover */
}




  /* Osnovni stil za desktop */
body {
    font-size: 16px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

    /* Stil za ekrane sa širinom manjom od 768px (tablet i mobilni uređaji) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
        background-color: #e0e0e0;
    }

    h1 {
        font-size: 1.5em;
    }

    .container {
        width: 95%;
    }
}

/* Stil za ekrane sa širinom manjom od 480px (mobilni uređaji) */
@media (max-width: 480px) {
    body {
        font-size: 12px;
        background-color: #ccc;
    }

    h1 {
        font-size: 1.2em;
    }

    .container {
        width: 100%;
    }
}

/* STIL ZA MIXER MODAL */

.mixerModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;              /* Postavlja modal u centar ekrana horizontalno */
    top: 50%;               /* Postavlja modal u centar ekrana vertikalno */
    transform: translate(-50%, -50%); /* Pomera modal tako da se centriše */
    width: 800px;         /* Maksimalna širina */
    height: 800px;        /* Maksimalna visina */
    overflow: hidden;     /* Skriva overflow sadržaj */
    background-color: rgba(0, 0, 0, 0.9); /* Polu-transparentna crna pozadina */
}

.mixerModal-content {
    position: relative; 
    width: 100%;  /* Zauzima punu širinu modala */
    height: calc(100% - 40px); /* Oduzima visinu dugmeta za zatvaranje */
}

iframe {
    width: 100%;  /* Iframe zauzima 100% širine modala */
    height: 100%; /* Iframe zauzima punu visinu dostupnog prostora */
    border: none; /* Uklanja granice iframe-a */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2; /* Osigurava da je dugme iznad iframe-a */
}
