body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Dodano kako bi se omogućilo pozicioniranje dugmadi u odnosu na body */
}

.toolbarBtn {
    padding: 10px 20px;
    background-color: black;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute; /* Dodato za pozicioniranje dugmadi */
    bottom: 0; /* Postavlja dugme na dno */
    left: 0; /* Postavlja dugme na levu stranu */
    margin: 10px; /* Opcionalno, dodaje razmak od ivica ekrana */
}

#GBtn {
    margin-left: 90px; /* Razmak između dugmadi, možeš prilagoditi vrednost */
}

.toolbarBtn:hover {
    background-color: #666;
}

 /* CSS ZA MIXER DODATAK IZ HTML MIXER */
 
  #mixer {
    display: none;
    background-color: black;
    color: white;
    width: 300px; /* Prilagođena širina */
    height: auto; /* Automatska visina */
    padding: 10px;
    border: 5px solid white; 
    position: absolute;
    cursor: move;
    box-shadow: 0 0 10px white; 
    border-radius: 10px; 
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    resize: both; /* Omogućava promenu veličine */
    overflow: hidden; /* Održava prikaz unutar okvira */
}

#songList {
    list-style: none;
    padding: 0;
    max-height: calc(100% - 150px); /* Lista se prilagođava visini */
    overflow-y: auto; 
    border: 1px solid white;
    border-radius: 5px;  
    margin-top: 100px; 
    bottom: 40px; 
}

#songList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid white;
    cursor: grab;
}

.selected {
    background-color: #333;
}

.title {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; 
    margin-bottom: 10px; 
    font-weight: bold; 
    font-style: italic; 
}

#mixer-buttons {
    display: flex;
    justify-content: space-around; 
    position: relative; /* Omogućava pravilan raspored */
    bottom: 0; /* Na samom dnu */
    left: 0;
    right: 0;
    margin-top: 10px; /* Razmak od liste */
}
